root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csproj}]
indent_style = space
indent_size = 4

[*.cs]
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_prefer_braces = when_multiline:suggestion

[*.{json,md,svg}]
end_of_line = lf

[*.{xaml,resx,xml}]
indent_style = space
indent_size = 4
